.navDiv {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand-name {
    color: var(--colorOne);
    font-weight: 500;
    font-size: clamp(1rem, 2.7vw, 3rem);
}

.link, .active {
    text-decoration: none;
    font-size: clamp(0.78rem, 1.2vw, 4rem);
}

:is(.link, .active):hover {
    color: #d5d5d5;
}

.intro-text p {
    font-size: clamp(0.8rem, 1.3vw, 2.8rem);
    color: var(--colorSix);
}

.intro-text p span {
    font-size: clamp(1.2rem, 2.5vw, 2.5rem);
}

.main-word {
    color: var(--colorTri);
}

.suffix-word {
    color: var(--colorFiv);
}

.detail-box-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.detail-box-content div p{
    font-size: clamp(0.65rem, 1.2vw, 2.5rem);
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.event-title {
    font-weight: 700;
    font-size: clamp(0.64rem, 2vw, 4rem);
}

.event-speaker p {
    font-size: clamp(0.52rem, 1.5vw, 2.5rem);
    color: var(--colorFiv);
}

.event-speaker p span {
    font-weight: 500;
    color: var(--colorSix);
}

.event-pic {
    width: clamp(50px, 550px, 1270px);
}

.to-come-events {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.event-box {
    color: var(--colorTwo);
}

.event-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.box {
    width: clamp(20px, 40px, 150px);
    height: clamp(20px, 40px, 150px);
    display: grid;
    place-items: center;
}

.back-to-home-icon {
    scale: clamp(0.5, 1.5, 5);
    color: white;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text {
    color: var(--colorFo);
    font-size: clamp(0.7rem, 0.72vw, 1.1rem);
}